# Muxon Core repository ignore rules
.gradle/
**/build/
!**/src/main/**/build/
!**/src/test/**/build/
**/bin/
**/out/
*.class
*.jar
*.war
*.ear
gradle.properties
bundled.yaml
.idea/
*.iml
.vscode/
logs/
*.log
*.tmp
.DS_Store
test-results/
reports/
coverage/
.env
.env.*
**/secrets/
**/initial-config.yaml
compose/keycloak/realm-muxon-dev.runtime.json
**/services/core-services/src/main/resources/application.yaml
node_modules/
