openapi: 3.0.3
info:
  title: Infron Core API
  version: 0.1.0
  description: Core API resources for tenants (organizations) — CRUD, list with pagination and filters.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: API Support
    url: http://www.onetattva.com/support
    email: support@onetattva.com

servers:
  - url: http://api.infron.onetattva.com/v1

tags:
  - name: Datacenters
    description: Provider datacenter/capacity and settings management
  - name: TenantDatacenters
    description: Tenant access grants, per-datacenter quota & feature binding
  - name: Tenants
    description: Tenant / Organization lifecycle operations
  - name: Projects
    description: Project lifecycle operations
  - name: NodeClusters
    description: Node cluster grouping and management
  - name: Nodes
    description: Individual infrastructure node management
  - name: Health
    description: Health endpoints

components:
  schemas:
    Health:
      type: object
      properties:
        status:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.example.com/oauth/token
          scopes:
            admin: "Full admin access"
            read: "Read-only access"

# Apply security globally: either BearerAuth OR ApiKeyHeader OR OAuth2 (clientCredentials w/ scopes)
security:
  - BearerAuth: []
  - ApiKeyHeader: []
  - OAuth2: ["read"]

paths:
  /healthz:
    get:
      operationId: getHealthStatus
      tags:
        - Health
      summary: Health check
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
        '400':
          $ref: './commons.yaml#/components/responses/BadRequest'

  # Datacenters
  /datacenters:
    $ref: './datacenters.yaml#/paths/~1datacenters'
  /datacenters/{datacenterId}:
    $ref: './datacenters.yaml#/paths/~1datacenters~1{datacenterId}'
  /datacenters/{datacenterId}/settings:
    $ref: './datacenters.yaml#/paths/~1datacenters~1{datacenterId}~1settings'

  # Tenants
  /tenants:
    $ref: './tenants.yaml#/paths/~1tenants'
  /tenants/{tenantId}:
    $ref: './tenants.yaml#/paths/~1tenants~1{tenantId}'
  /tenants/{tenantId}/settings:
    $ref: './tenants.yaml#/paths/~1tenants~1{tenantId}~1settings'

  # Tenant datacenter grants
  /tenants/{tenantId}/datacenters:
    $ref: './datacenters.yaml#/paths/~1tenants~1{tenantId}~1datacenters'
  /tenants/{tenantId}/datacenters/{datacenterId}:
    $ref: './datacenters.yaml#/paths/~1tenants~1{tenantId}~1datacenters~1{datacenterId}'
  /tenants/{tenantId}/datacenters/{datacenterId}/effective:
    $ref: './datacenters.yaml#/paths/~1tenants~1{tenantId}~1datacenters~1{datacenterId}~1effective'

  # Projects
  /tenants/{tenantId}/projects:
    $ref: './projects.yaml#/paths/~1tenants~1{tenantId}~1projects'
  /tenants/{tenantId}/projects/{projectId}:
    $ref: './projects.yaml#/paths/~1tenants~1{tenantId}~1projects~1{projectId}'
  /tenants/{tenantId}/projects/{projectId}/members:
    $ref: './projects.yaml#/paths/~1tenants~1{tenantId}~1projects~1{projectId}~1members'
  /tenants/{tenantId}/projects/{projectId}/members/{userId}:
    $ref: './projects.yaml#/paths/~1tenants~1{tenantId}~1projects~1{projectId}~1members~1{userId}'

  # Nodes
  /api/nodes:
    $ref: './nodes.yaml#/paths/~1api~1nodes'
  /api/nodes/{nodeId}:
    $ref: './nodes.yaml#/paths/~1api~1nodes~1{nodeId}'

  # Node Clusters
  /api/node-clusters:
    $ref: './node_clusters.yaml#/paths/~1api~1node-clusters'
  /api/node-clusters/{clusterId}:
    $ref: './node_clusters.yaml#/paths/~1api~1node-clusters~1{clusterId}'
  /api/node-clusters/{clusterId}/nodes:
    $ref: './node_clusters.yaml#/paths/~1api~1node-clusters~1{clusterId}~1nodes'

  # Node Clusters in Datacenters
  /api/datacenters/{datacenterId}/node-clusters:
    $ref: './node_clusters.yaml#/paths/~1api~1datacenters~1{datacenterId}~1node-clusters'

  # Metadata paths
  /tenants/{tenantId}/metadata:
    $ref: './tenants.yaml#/paths/~1tenants~1{tenantId}~1metadata'
  /tenants/{tenantId}/projects/{projectId}/metadata:
    $ref: './projects.yaml#/paths/~1tenants~1{tenantId}~1projects~1{projectId}~1metadata'
  /api/nodes/{nodeId}/metadata:
    $ref: './nodes.yaml#/paths/~1api~1nodes~1{nodeId}~1metadata'
  /api/node-clusters/{clusterId}/metadata:
    $ref: './node_clusters.yaml#/paths/~1api~1node-clusters~1{clusterId}~1metadata'
  /datacenters/{datacenterId}/metadata:
    $ref: './datacenters.yaml#/paths/~1datacenters~1{datacenterId}~1metadata'
